doctype html
html
	head
	body
		a(href="http://localhost:3000") Landing page 
		br
		a(href="http://localhost:3000/search-user") Search page 
		br
		a(href="http://localhost:3000/add-user") Add user page
		br
		h2 All users:
		each user in users
			p= user.firstname + "; " + user.lastname + "; " + user.email 
		
