doctype html
html
    head
    body
        h1= title
        form(name="add-estimation", method="post")
            div.input
                span.label Find users here:  
                input(type="text", name="users")
            div.actions
                input(type="submit", value="search")
        a(href="http://localhost:3000") Landing page